@model IEnumerable<NewsSite.Models.TagViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Tags</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{

    <div class="btn btn-default btn-lg" type="button">
        @Html.DisplayFor(modelItem => item.TagName) <span title="usage counter" class="badge">@Html.DisplayFor(modelItem => item.UsageCnt)</span> <br/>

        @if (item.Enabled == true)
        {
        <i class="glyphicon glyphicon glyphicon-check"></i>
        }
        else
        {
        <i class="glyphicon glyphicon glyphicon-minus-sign"></i>
        }
        &nbsp;<a title="edit" class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.TagId"><i class="glyphicon glyphicon glyphicon-pencil"></i></a>
        <a title="delete" class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.TagId"><i class="glyphicon glyphicon glyphicon-trash"></i></a>
    </div>
    
}
