body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.tagItem {
        border: solid 1px #ccc;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        font-weight: bold;
    }
.mediakitFileWrapper {
        height:475px;
        width: 32%;
        float: left;
        margin-bottom: 2%;
        border:solid 1px #cccccc;
        padding:10px;
    }
#mediaKitFiles div:nth-child(3n-1)  {
        margin-left:2%;
        margin-right:2%;
    }
    .mediakitFileWrapper img {
        max-height:200px;
        margin:0 auto;
    }

    .mediakitFileWrapper p {
       margin-top: 10px;
    }

.error {
    display:none;
}