@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                Article Create
                <ul>
                    <li>on new file upload, all fields blanked out, but tag should have a ,</li>
                    <li>on new file upload, all fields blanked out, selected tags should be removed</li>
                    <li><strike>owners, tags, media files should be in alpha order</strike></li>
                    <li>make sure owner, media file don't exists before adding</li>
                    <li>implement antiforgery on ajax calls</li>
                    <li>add time picker to start and end dates</li>
                    <li>newly uploaded files should be added to social media image</li>
                    <li>newly added owner should be added to dropdown</li>
                    <li><strike>add max character to textboxes</strike></li>
                    <li>remove special characters from custom url</li>
                    <li>return full json object for all ajax calls</li>
                    <li>add errorhandling on server and client</li>
                    <li>restrict file upload type and size</li>
                    <li>add default media kit files (Facts & briefs, Dr. Dozier headshots, Hill Hall)</li>
                    <li><strike>add boilerplate statement to the bottom</strike></li>
                    <li>add default social media image (SSU logo)</li>
                    <li>prepopulate social media title with title</li>
                    <li>prepopulate custom url with title minus special characters</li>
                    <li>add default owner of SSU</li>
                    <li>add message that social media image should be certain dimensions</li>
                    <li>move javascript to external file</li>
                    <li>clean up css and move to external file</li>
                    <li>auto select file type based on extension</li>
                    <li><strike> incorporate enabled flag</strike></li>
                </ul>
            </li>
            <li>
                Media file kit model
                <ul>
                    <li><strike>add funtion to format the icon that will be displayed based on the file type.</strike></li>
                </ul>
                </li>
</div>

</div>
