@model NewsSite.Models.Article

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Article</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ArticleId" />
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="URL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Body" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger" />
            </div>
        
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger" />
            </div>
        </div>
       
        
        <div class="form-group">
            <label asp-for="OGDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OGDescription" class="form-control" />
                <span asp-validation-for="OGDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OGImage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OGImage" class="form-control" />
                <span asp-validation-for="OGImage" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OGTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OGTitle" class="form-control" />
                <span asp-validation-for="OGTitle" class="text-danger" />
            </div>
        </div>
        
        
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-lg btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    var images = {};
    $.ajax({
        type: "GET",
        url: "/MediaKitFiles/GetAllFiles",
        contentType: false,
        processData: false,
        success: function (message) {

            images = message;
            tinymce.init({
                selector: '#Body',
                height:"300",
                plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save contextmenu directionality template paste textcolor'
                ],
                toolbar: ['undo redo | styleselect | bold italic | image', 'alignleft aligncenter alignright'],
                image_list: images
            });



            var mySelect = $('#OGImage');
            $.each(images, function (val, text) {
                mySelect.append(
                    $('<option></option>').val(text.value).html(text.title)
                );
            });


        },
        error: function () { alert("There was error uploading files!"); }
    });


</script>