@model IEnumerable<NewsSite.Models.Owner>

@{
    ViewData["Title"] = "Index";
}

<h1>Media Authors</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="tagItem">
        @if (item.Enabled == true)
                {
            <i class="glyphicon glyphicon glyphicon-check"></i>
        }
        else
        {
            <i class="glyphicon glyphicon glyphicon-minus-sign"></i>
        }
        
            <strong>@Html.DisplayFor(modelItem => item.Name)</strong> |
            <a asp-action="Details" asp-route-id="@item.OwnerId">view details</a>
        <br/>
                <a title="edit" class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.OwnerId"><i class="glyphicon glyphicon-pencil"></i></a>
                <a title="delete" class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.OwnerId"><i class="glyphicon glyphicon-trash"></i></a>
            
    </div>
}